<aside class="sidecont">
    <div class="sidecont2" id="gameracam">
        <ul>
            <li>echo <br></li>
        </ul>
        <div class="sideboxR">
            <img class="gameracamborder" src="/images/cam.gif" alt="cam">
        </div>
    </div>

    <div class="sidecont2" id="findme">
        <ul>
            <li>find me <i><b>!!</b></i></li>
        </ul>
    </div>
    <div class="buttonrow">
        <!-- <a href="mailto:anadevofficial@gmail.com?subject=Contato do Site&body=Olá Ana! Vi seu site e..."
            onclick="if(!this.href.startsWith('mailto:')) { this.href = 'https://mail.google.com/mail/?view=cm&fs=1&to=anadevofficial@gmail.com&su=Contato&body=Olá!'; window.open(this.href, '_blank'); } else { return true; }"
            target="_blank" rel="noopener">
            <img src="/images/contact/gmail.png" alt="Gmail">
        </a> -->
        <a href="https://github.com/vyszraelhanna" target="_blank" rel="noopener">
            <img class="gameracamborder" src="/images/contact/button.gif" alt="GitHub">
        </a>
        <a href="https://www.linkedin.com/in/an-na-3b4905368" target="_blank" rel="noopener">
            <img class="gameracamborder" src="/images/contact/LI.gif" alt="LinkedIn">
        </a>
    </div>
    <img src="/images/buttons/greenarrowdivider.gif" alt="divider">

    <div style="text-align: right; margin-top:20px;">
        <img src="/images/bottons/working.gif" alt="Animação de 'trabalhando'" style="width: 150px; height: auto;">
    </div>
    <div class="button1" style="margin-top:20px;">
        <img src=" /images/bottons/old.png" alt="random"><br>
        <img src=" /images/bottons/happy.gif" alt="random"><br>
    </div>
</aside>