<!-- Left Sidebar -->
<aside class="sidecont">
    <table id="radioplaying">
        <tbody>
            <tr>
                <td>
                    <ul id="menu">
                        <li>
                            <nobr>navigation . . . .</nobr>
                        </li>
                    </ul>
            </tr>
        </tbody>
    </table>

    <nav>
        <ul class="menu">
            <li><a href="/"><b>home</b></a></li>
            <li><a href="/projects">projects</a></li>
        </ul>
        <ul class="menu" style="margin-top: 10px;">
            <li><a href="/technical/index.html">technical</a></li>
        </ul>
    </nav>

    <div>
        <a class="referral-link" target="_blank" href="">
            <div class="referral-link">
                <p><strong><b>USE MY REFERRAL LINK</b></strong></p>
            </div>
        </a>
        <p id="lastupdate">★☆★☆★☆★☆☆★☆★☆</p>
        <img src="/images/buttons/greenarrowdivider.gif" alt="divider">
    </div>

    <div class="button1">
        <img src="/images/bottons/random.png" alt="random"><br>
        <img src="/images/bottons/physical_media.png" alt="physical media"><br>
        <img src="/images/bottons/bits.png" alt="bits"><br>
        <img src="/images/bottons/pc_user.gif" alt="pc user"><br>
        <img src="/images/bottons/internet_cool.png" alt="internet cool"><br>
        <img src="/images/bottons/cat.gif" alt="cat"><br>
        <img src="/images/buttons/greenarrowdivider.gif" alt="divider">
    </div>
</aside>